@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@mixin glowing($color, $radius: 5px) {
  text-shadow: 0 0 $radius #fff, 0 0 $radius*2 #fff, 0 0 $radius*3 #fff,
               0 0 $radius*4 $color, 0 0 $radius*7 $color, 0 0 $radius*8 $color,
               0 0 $radius*10 $color, 0 0 $radius*15 $color;
}

body {
  background: #001d23;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

main {
  display: inline-block;
}

.btn-custom {
  margin-top: 3rem;
  font-size: 2rem;
  background: transparent;
  color: rgba(255,255,255,0.5);
  border: 2px solid rgba(255,255,255,0.5);
  width: 25rem;
  padding: 1rem 4rem;
  transition: all 0.3s;

  &:hover, &:active {
    color: rgba(255,255,255,0.7);
    border: 2px solid rgba(255,255,255,0.7);
  }
}

h1 {
  display: inline-block;
  font-family: 'Codystar', cursive;
  margin: 8rem 0;
  padding: 3rem;
  background: #000;
  color: #fff;
  text-align: center;
  transform: rotate(-6deg);
  font-size: 6rem;
  border: 6px double rgba(255, 173, 85, 0.8);
  border-radius: 10px;
  box-shadow: -5px 5px 40px #000;
  @include glowing(#f95, 10px);
}

section {
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: rgba(255,255,255,0.7);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }

  #actors {
    margin: 3rem 0 0 0;
    padding: 0;
    list-style-type: none;

    li {
      margin: 0 1rem;
      padding: 0;
      display: inline-block;

      input {
        font-size: 3rem;
        height: 50px;
        width: 300px;
      }

      &.and {
        span {
          color: rgba(255,255,255,0.2);
          font-size: 2.5rem;
          vertical-align: middle;
        }
      }
    }
  }

  #loading {
    display: block;
    span {
      animation: rotating 2s linear infinite;
      color: rgba(255,255,255,0.8);
      font-size: 8rem;
      line-height: 180px;
      vertical-align: middle;
    }
  }

  #movies {
    margin: 0 auto;
    padding: 0;
    margin-top: 3rem;
    list-style-type: none;
    display: table;

    li {
      display: table-row;
      span {
        color: rgba(255,255,255,0.8);
        font-size: 2rem;
        display: table-cell;
        vertical-align: middle;
        padding: 0 2rem;
        text-align: left;
      }
      img {
        display: table-cell;
      }
      padding: 0;
      margin: 0;
    }
  }
}

.tt-hint {
  color: #bbb;
}

.tt-dropdown-menu {
  background: white;
  text-align: left;
  width: 300px;

  img {
    width: 30px;
    height: 45px;
    background-color: #ddd;
  }

  span {
    font-size: 2rem;
  }
}

.tt-is-under-cursor {
  background-color: desaturate(lighten(#001d23, 80%), 80%);
}

@media only screen and (max-width : 750px) {
  h1 {
    font-size: 4rem;
  }

  .and {
    display: none !important;
  }
}